/*** add-ons page ***/
.addon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.addon {
  background-color: var(--header-background-color);
  border: 2px solid var(--button-background-color);
  color: var(--header-text-color);
  margin: 5px;
  min-width: 350px;
  min-height: 120px;
}
.addon li {
  display: block;
}
.addon ul {
  padding-left: 1em;
}
.addon .title {
  font-size: 1.2em;
  font-weight: bold;
}
.addon .description {
  font-size: 75%;
  font-weight: bold;
}
