html {
  font-family: monospace;
  min-height: 100%;
}

.content-center {
  margin-top: 15%;
}

.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

.quote {
  font-size: 1.95em;
  font-family: serif;
  text-align: center;
  font-style: italic;
}

.nav-item-selected {
  font-weight: bold;
}

table {
  border: 1px outset;
  width: 100%;
}
th, td {
  border: 1px inset;
  width: 50%;
}
