.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

#content {
  margin: 1em 0;
}

.quote {
  padding: 1.5em 0;
  font-size: 1.95em;
  font-family: serif;
  text-align: center;
  font-style: italic;
}

.nav-item-selected {
  font-weight: bold;
  font-size: 1.3em;
}

table {
  border: 1px outset;
  width: 100%;
}
th, td {
  border: 1px inset;
  width: 50%;
}
