/* ::::: primary ::::: */

:root {
  --color-primary: #33FF33;
  --color-accent: #045D14;
  --page-background: #000000 fixed url("pattern.svg");
  --page-font: monospace;
}

html {
  font-family: var(--page-font);
  background: var(--page-background);
  color: var(--color-primary);
}

a {
  color: inherit;
}

a:hover {
  text-shadow: 0 0 5px #0BF338;
}

hr {
  border: 1px solid var(--color-primary);
}

table {
  background-color: #000000;
  border: 1px solid var(--color-primary);
  width: 100%;
}

th, td {
  border: 1px solid var(--color-primary);
  width: 50%;
  padding: 0.5em;
}

th {
  background-color: var(--color-accent);
}

/* ::::: content ::::: */

#container {
  max-width: 800px;
  margin: auto;
}

#container.center {
  margin: 40vh auto;
}

#footer {
  font-style: italic;
}

#timer {
  line-height: 0;
}

/* ::::: buttons ::::: */

.button {
  display: block;
  border: 1px solid var(--color-primary);
  background-color: #000000;
  text-decoration: none;
  padding: 0.5em;
}

.button:hover:not(:focus) {
  text-decoration: underline;
}

.button:focus {
  background-color: var(--color-primary);
  color: #000000;
}

/* ::::: navigation ::::: */

#navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

#navigation > li:not(:last-child) {
  margin-right: 1em;
}

#title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu-button {
  display: none;
}

/* ::::: responsive design ::::: */

@media screen and (max-width: 620px) {
  #container.center {
    margin: auto;
  }
  
  #header {
    position: sticky;
    top: 0;
    background: var(--page-background);
    border-bottom: 1px solid var(--color-primary);
  }
  
  #navigation {
    flex-direction: column;
    margin-bottom: 0.5em;
  }
  
  #navigation.hidden {
    display: none;
  }
  
  #navigation > li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 0.5em;
  }
  
  #menu-button {
    display: block;
  }
}
